<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <!-- <div class="cards"> -->
        <br>
          <div class="card">
            <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path @shetland.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="row-text">
                <div class="price">
                  <span><%= @shetland.price_per_hour %>€</span>
                </div>
                <div class="basic-info">
                  <h3><%= @shetland.name %></h3>
                  <p><%= @shetland.age %> ans</p>
                  <div class="row-location">
                    <p>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>  <%= @shetland.location %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-description">
              <div class="card-description-owner">
                <img class="card-user" src="<%= image_path @shetland.user.photo %>">
                <%= @shetland.user.first_name.capitalize %>
                <div class="card-description-shetland">
                  <%= @shetland.description %>
                </div>

            </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <h1>Book this shet!</h1>

            <%= render 'reservations/form', shetland: @shetland, reservation: @reservation %>
        </div>
      </div>
      <!-- </div> -->
  </div>
</div>

