<div class="container">
  <div class="row">
    <div class="col-xs-8">
        <h1> <%= @shetland.name %> </h1>
        <%= image_tag @shetland.photo, class: "card-header" %>
        <br>
        <h2><%= @shetland.location %></h2>
        <br>
        <%= @shetland.description %>
        <br>
        <%= @shetland.price_per_hour %> € / heure
        <br>
        <%= link_to "Réservez", new_shet_reservation_path(@shetland), class: "btn btn-danger" %>
    </div>

    <div class="col-xs-4">

      <div class="card-description-owner">
        <br>
        <br>
        <br>
        <br>
                <img class="card-user" src="<%= image_path @shetland.user.photo %>">
                <%= @shetland.user.first_name.capitalize %>
              </div>
      <br>

    </div>
  </div>
</div>
