<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Le meilleur site de location de poneys shetlands">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <title>Shetlend - Loue ton poney à l'heure!</title>
</head>

<body>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('http://res.cloudinary.com/dqsyulth5/image/upload/v1511894934/18485933_1498167173567501_4254566172561738638_n_erpeis.jpg');">



    <div class="banner-content">
      <h1>Shetlend</h1>
      <p>Loue ton poney à l'heure!</p>

  <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>
</div>

<br>

 <%= link_to 'Show me all the shets!', shets_path, class: "btn btn-danger" %>


    </div>
  </div>

  <div class="container">
  <center><h2>Latest availabilites ! </h2></center>
  <div class="row">
    <% @shetlands.each do |shetland| %>
      <!-- <div class="cards"> -->
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path shetland.photo, height: 300, width: 400, crop: :fill %>')">
              <div class="row-text">
                <div class="price">
                  <span><%= shetland.price_per_hour %>€</span>
                </div>
                <div class="basic-info">
                  <h3><%= shetland.name %></h3>
                  <p><%= shetland.age %> ans</p>
                  <div class="row-location">
                    <p>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>  <%= shetland.location %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-description">
              <div class="card-description-owner">
                <img class="card-user" src="<%= image_path shetland.user.photo %>">
                <%= shetland.user.first_name.capitalize %>
              </div>
              <p><%= shetland.description %></p>
            </div>
            <div class="card-see-more">
              <%= link_to 'See more', shet_path(shetland), class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <!-- </div> -->
    <% end %>
  </div>
</div>



    </body>
    </html>



