<br>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card-form-new-shet">
      <h1> Ajoutez votre Shetland !</h1>
      <br>
      <%= simple_form_for([ @shetland ], url: my_shets_path(@shetland)) do |form| %>
      <%# form.input :start_time %>
      <%= form.input :name %>
      <%= form.input :price_per_hour %>
      <%= form.input :description %>
      <%= form.input :age %>
      <%= form.input :location %>
      <%= form.input :photo %>
      <%= form.input :photo_cache, as: :hidden %>
      <div class="col-sm-offset-3">
      <%= form.button :submit %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
