
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> Ajoutez votre Shetland !</h1>
      <br>
      <%= simple_form_for([ @shetland ], url: my_shets_path(@shetland)) do |form| %>
      <%# form.input :start_time %>
      <%= form.input :name %>
      <%= form.input :price_per_hour %>
      <%= form.input :description %>
      <%= form.input :age %>
      <%= form.input :location %>
      <%= form.input :photo %>
      <%= form.input :photo_cache, as: :hidden %>
      <%= form.button :submit %>
      <% end %>

    </div>
  </div>
  <!-- </div> -->
</div>
